* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: "Inter", sans-serif;
}

.parent {
    padding-left:50px;
    padding-right:50px;
}

a {
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}

p, span, a, li {
  word-spacing:1px;
  letter-spacing:0.3px;
  font-size:16px;
  font-weight:400;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background:#2C2B2B;
    height: 80px;
}

.nav img{
    width: 66px;
    height: 66px;
}

.count{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count h3{
    color:#FCC245;
}

.count .time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.count p{
    color:#FCC245;
    font-weight:300;
    font-size:14px;
    margin-right: 9px;

}

a.register-link{
    padding:15px 30px;
    top: 20px;
    left: 1012px;
    border-radius: 4px;
    background:linear-gradient(90deg, #7537F0 0%, #3153FB 100%);
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: background 0.3s;
}

a.register-link:hover {
     background:linear-gradient(90deg, #7537F0 0%, #3153FB 100%);
    }

.form_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.hero-body{
    background-image: url(images/Rectangle.png);
    background-repeat:no-repeat;
    background-position: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.hero-body-content {
    width:50%;
    color: white;
}

.hero-body-content h1{
    font-weight: 400;
    font-size:50px;
}

.hero-body-content p{
    font-size: 20px;
    margin:25px 0;
    width:80%;
}


.hero-body-img img{
    width: 567px;
    height: 628px;
}

.form{
    margin-top: 4rem;
}

.form_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count h2{
    color: #FF0E0E;
    
}

.form_head-text h1{
    margin-bottom: 9px;
}

.form_head-text p span{
    color: #FF0E0E;

}

.location{
    display: flex;
    margin-top: 9px;
}

.location img{
    width: 14px;
    margin-right: 6px;
    color: blue;
}

.location a{
    font-size: 14px;
}

.count .tim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.count .tim p{
    color:#FF0E0E;
    font-weight:300;
    font-size:14px;
    margin-right: 9px;
}

.form_grid-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.form_grid-body form{
    width:80%;
}

.form_grid-body form div.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap:4%;
    row-gap:38px;
}

.form_grid-body form input{
    width:48%;
    height: 62px;
    padding: 20px 30px;
    border: none;
    background: #DFDFDF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    outline: none;
    
}

.form_grid-body form input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    

    
}

.form_grid-body form select{
    width:48%;
    height: 62px;
    padding: 20px 50px;
    border: none;
    background: #DFDFDF;
    border-radius: 2px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    outline: none;
    
}

.form_grid-body form select::after 
{
    right:50px !important;
}

.form_grid-body form select::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0%;
    

    
}

.form_grid-body form button{
    justify-content: center;
    padding:15px 30px;
    border-radius: 4px;
    background:linear-gradient(90deg, #7537F0 0%, #3153FB 100%);
    font-weight: 400;
    font-size: 14px;
    color: white;
    width:100%;
    margin-top: 38px;
    transition: background 0.3s;
    border: none;
}

.third{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third img{
    width: 593.37353515625px;
    height: 249.75px;
    margin-right: 3rem;
}

.third h1{
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
}

.third p{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0%;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.third a{
    padding:15px 30px;

    border-radius: 4px;
    background:linear-gradient(90deg, #7537F0 0%, #3153FB 100%);
    font-weight: 400;
    font-size: 14px;
    color: white;
    transition: background 0.3s;
}


.third a:hover{
    background:linear-gradient(90deg, #7537F0 0%, #3153FB 100%);
}

.footer{
    background: #2C2B2B;
    color: white;
    padding: 1rem 0;
    margin-top: 9rem;
}

.footer p{
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;


}



@media screen and (max-width:1024px) {
    .third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third img{
    width: 593.37353515625px;
    height: 249.75px;
    margin-right: 3rem;
}

.third-text{
    margin-top: 3rem;
}


.third h1{
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0%;
}

.hero-body-img img{
    width: 550px;
    height: 546px;
}


    
}

@media screen and (max-width:980px) {
    .hero-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-body-img{
    margin-top: 3rem;
}

.hero-body-content {
    width:80%;
}

.hero-body-content h1{
    margin-top: 2rem;
    width:100%;
}

.hero-body-content p{
    width:100%;
}

.hero-body-content a.register-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-left: 11rem;
}

 select{
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0%;
    
}

 option{
    font-weight: 400;
    font-size: 12px;
    line-height: 36px;
    letter-spacing: 0%;
    
}

.third img{
    margin-right: 0;
}


    
}

@media screen and (max-width:738px) {
    .hero-body-content a.register-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 11rem;
}
.form_head{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.hero-body-content a.register-link{
    
    margin-left: 9rem;
}

.form_head-text h1{
    margin-top: 25px;
}

    
}

@media screen and (max-width:480px) {
    #count{
    display: none;
}


.nav a.register-link{
    display: none;
}

.ss{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-body-content h1{
    font-size:30px;
    width: 100%;
}

.hero-body-content p{
    font-size: 12px;
    margin:25px 0;
    width:100%;
}


.hero-body-img img{
    width: 367px;
    height: 428px;
}

.hero-body-content a.register-link{
    
    margin-left: 3rem;
    font-size: 12px;
    width: 50%;
}

.footer p{
    font-size: 12px;


}

}

 @media screen and (max-width:450px) {

    .hero-body-content h1{
    font-size:17px;
    width: 100%;
}

.hero-body-content p{
    font-size: 12px;
    margin:25px 0;
    width:100%;
}


.hero-body-img img{
    width: 267px;
    height: 328px;
}

.hero-body-content a.register-link{
    
    margin-left: 3rem;
    font-size: 12px;
    width: 70%;
}

.hero-body-content {
    width:100%;
    color: white;
}

.form_grid-body form div.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.form_grid-body form input{
    width:100%;
    
    
}

.form_grid-body form select{
    width:100%;
    
    
}
.third{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third img{
    width: 393.37353515625px;
    height: 149.75px;
    margin-right: 0;
}

.third h1{
    font-size: 20px;

}

.third p{
    font-size: 15px;
}




.footer p{
    font-size: 8px;
    width: 100%;

}

} 

@media screen and (max-width:321px) {
    .footer p{
    font-size: 8px;

}
.hero-body-content a.register-link{
    
    margin-left: 0;
}

.third img{
    width: 293.37353515625px;
    height: 89.75px;
    margin-right: 0;
}

.form_head-text h1{
    font-size: 17px;
}


    
}